


body{
    background-color: var(--background-color);
    font-family: "Manrope", sans-serif;
    font-size: 18px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.advice-card{
    background-color: var(--advice-card-color);
    height: 240px;
    width: 360px;
    padding: 20px;
    border: 20px;
    border-radius: 20px;
}

.number-and-advice{
    height: 70%;
}

.advice-number{
    color: var(--advice-dice-color);
    font-size: 10px;
    letter-spacing: 5px;
}

.advice{
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(87, 87, 87);
}

.bottom-card{
    position: absolute;
    width: 300px;
    height: 60px;
}

.card-dice{
    background-color: var(--advice-dice-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 20px;
}

.fa-dice-five{
    color: var(--background-color);
    font-size: 24px;
}